.Description {
    color: #000000;
}

span {
    font-size: medium;
}

.Subtitle {
    color: #7cbb3c;
}

#email {
    height: 100%;
}

.card {
    background-color: coral;
    width: 743px;
    height: 400px;
    display: flex;
    margin: auto;
}


.image_box {
    width: 236px;
    height: 236px;
}

.card > .image_box {
    position: relative;
    top: 0%;
    right: 0%;
    left: 68.3%;
}

.img_profile {
    width: 100%;
    height: 100%;
    
}

h1 {
    font-size: 50px;
    font-family: Roboto;
    font-style: italic;
    text-align: center;
}

body {
    background-image: "..\images\nether_portal-bg.gif";
}

.quien_soy {
    margin-bottom: 100px;
}

.Info_card {
    width: 500px;
    margin-top: 3%;
    position: absolute;
    top: 100px;
}