body {
    background-image: url(../images/background-T-E.jpg);
    background-size: cover;
}

h1 {
    font-family: "Pixelify Sans";
    font-size: 60px;
    text-align: center;
  color: #000;
}

h2 {
    font-family: sans-serif;
    font-size: 30px;
    color: #5a39a7;
  }

.Img_login {
    width: 50vw;
    height: 400px;
}

.Img_lang_selector {
  width: 50vw;
  height: 400px;
}

.Img_main_app {
  width: 50vw;
  height: 400px;
}

.Img_login-box {
  position: relative;
  left: 50%;
}

p {
  font-size: 18px;
}

.Subtitle_card {
  font-size: 20px;
  width: 48vw;
  position: relative;
  top: 45vh;
}

.Subtitle_img {
  font-size: 25px;
  color: #510303;
}

footer > a {
  font-family: "Pixelify Sans";
  font: bold;
  font-size: 40px;
  text-decoration: none;
  color: chartreuse;
}