.Description {
    color: #000000;
}

span {
    font-size: medium;
}

.Subtitle {
    color: #489fb9;
}

.ContactH2 {
    display: grid;
    place-content: center;
}

#email {
    height: 100%;
}

.card {
    background-color: rgba(187, 98, 209, 0.308);
    width: 743px;
    height: 400px;
    display: flex;
    margin: auto;
}


.image_box {
    width: 236px;
    height: 236px;
}

.card > .image_box {
    position: relative;
    top: 0%;
    right: 0%;
    left: 68.3%;
}

.img_profile {
    width: 100%;
    height: 100%;
    
}

h1 {
    font-size: 50px;
    font-family: "Pixelify Sans";
    text-align: center;
    color: #c73737;
}

body {
    background-image: url('../images/nether_portal-bg.gif');
    background-size: cover;
}

.quien_soy {
    margin-bottom: 100px;
}

.Info_card {
    width: 500px;
    margin-top: 3%;
    position: absolute;
    top: 100px;
}

a {
    color: rgb(230, 90, 90);
}

.gmail_logo {
    width: 50px;
    height: 40px;
}

.github_logo {
    width: 50px;
    height: 50px;
}

footer {
    position: relative;
}

.Contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 50px;
}

.ContactH2 {
    margin-bottom: 50px;
    color: #489fb9;
}

.LI {
    display: inline-block;
    list-style-type: none;
    position: relative;
    top: 50px;
    padding-right: 20px;
}

.Info_desc {
    color: #cae57c;
    font-size: 15px;
}
