body {
    background-image: url('../images/background_gofiles.png');
    background-size: cover;
}

h1 {
    font-size: 60px;
    font-family: "Pixelify Sans";
    text-align: center;
    color: #37bbc7;
}

h2 {
    font-family: sans-serif;
    font-size: 30px;
    color: #5a39a7;
}

h3 {
    color: #5a39a7;
    font-family: sans-serif;
    
}

.card_1 {
    width: 40%;
    height: 80%;
}


.card_2 {
    width: 50%;
    height: 80%;
    position: absolute;
    bottom: 0%;
    top: 30%;
    left: 55%;
}

.img-cap {
    width: 300px;
    height: 180px;
    border: #0000;
}

.Subtitle {
    text-align: center;
    width: 300px;
}

.Info {
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
    color: rgb(139, 188, 231);
    width: 325px;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    border: 6px solid #eee;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


